<div class="wrapper">
  <div class="sidebar" [ngClass]="{'collapsed': collapsed}">
    <ul class="sidebar-list">
      <li class="sidebar-list-item collapse-btn">
        <a href="#" class="ripple" (click)="toggleCollapse()">
          <i-feather *ngIf="collapsed" name="bar-chart-2"></i-feather>
          <i-feather *ngIf="!collapsed" name="chevron-down"></i-feather>
        </a>
      </li>

      <li class="sidebar-list-item" [ngClass]="{'active': menuItem.selected}" *ngFor="let menuItem of menuItems">
        <a href="#" class="ripple" (click)="setActive(menuItem)">
          <icon-for-menu [type]="menuItem.icon"></icon-for-menu>
          <span class="text">{{ menuItem.text }}</span>
          <i-feather name="chevron-down" class="dropdown-icon" *ngIf="menuItem.subMenu"></i-feather>
        </a>

        <ul class="dropdown sidebar-list" *ngIf="menuItem.subMenu">
          <li class="sidebar-list-item" [ngClass]="{'active': subMenuItem.selected}"
            *ngFor="let subMenuItem of menuItem.subMenu">
            <a href="#" (click)="setActive(menuItem,subMenuItem)">
              <icon-for-menu [type]="subMenuItem.icon"></icon-for-menu>
              <span class="text">{{ subMenuItem.text }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content">

    <div class="toolbar">
      <h3 class="page">Dashboard</h3>


      <!-- <div class="traffic-types">
        <rk-radio name="trafficType" [checked]="true" (valueChange)="onValueChange(true)">Total traffic</rk-radio>
        <rk-radio name="trafficType" (valueChange)="onValueChange(false)">Block Page</rk-radio>
      </div> -->


      <div class="account">
        <button class="notification-btn ripple">
          <i-feather name="bell"></i-feather>
          <div class="btn-badge">23</div>
        </button>

        <div class="border"></div>

        <div class="account-dropdown">
          <rk-avatar>
            <div class="rk-img">
              <img
                src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687"
                alt="" />
            </div>
            <div class="rk-text">
              Cihan
            </div>
            <div class="rk-dropdown">
              <div class="rk-dropdown-title">Account</div>
              <li>
                <a href="#" class="dropdown-item">
                  <i-feather name="settings"></i-feather>
                  Account Settings
                </a>
              </li>
              <li>
                <a href="#" class="dropdown-item">
                  <i-feather name="log-out"></i-feather>
                  Exit
                </a>
              </li>
            </div>
          </rk-avatar>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <table class="table table-pill">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of [1,2,3,4,5,6]" [ngClass]="{'selected': item % 2 == 0}">
                <td>1</td>
                <td>Cihan</td>
                <td>cihan.celen@mail.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn" (click)="modal.toggle()">toggle</button>
        </div>
      </div>

      <div class="row">
        <div class="rk-base-card">
          <div class="card-item">
            <div class="container-fluid">
              <div class="row mt-3">
                <div class="col-6">
                  <label for="chk" class="rk-chk-label">
                    <span>
                      Gece Modu
                    </span>
                    <div class="rk-form-switch">
                      <input type="checkbox" (change)="toggleDarkModel()" id="chk">
                      <i></i>
                      <span></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-12">
          <rk-date (complete)="completed($event)"></rk-date>
        </div>
      </div>

      <div class="row my-4 gutters-sm">
        <div class="col-md">
          <rk-infobox [active]="true" [title]="'Total'" className="blue" [color]="'#4353ff'" [type]="1" [valueOne]="245"
            [valueTwo]="345" description="Toplam DNS sorgu sayısı">
          </rk-infobox>
        </div>

        <div class="col-md">
          <rk-infobox [active]="false" [type]="2" [title]="'Safe'" className="green" [color]="'#3dd49a'"
            [valueOne]="35000" [valueTwo]="34"
            description="Haber, Spor, Arama motoru gibi içerik ve güvenlik anlamında risk içermeyen domainleri kapsar.">
          </rk-infobox>
        </div>

        <div class="col-md">
          <rk-infobox [active]="false" [type]="2" [title]="'Malicious'" className="red" [color]="'#f95656'"
            [valueOne]="35000" [valueTwo]="54"
            description="Malware, Botnet, Phishing gibi güvenlik riski yüksek domainleri kapsar.">
          </rk-infobox>
        </div>

        <div class="col-md">
          <rk-infobox [active]="false" [type]="2" [title]="'Variable'" className="gray" [color]="'#d8d8d8'"
            [valueOne]="35000" [valueTwo]="2"
            description="Newly Register, Newly Up, Domain Parking, Dead Sites gibi içerik ve güvenlik riski değişiklik gösterebilen domainleri içerir.">
          </rk-infobox>
        </div>

        <div class="col-md">
          <rk-infobox [active]="false" [type]="2" [title]="'Harmful Content'" className="yellow" [color]="'#f9df56'"
            [valueOne]="35000" [valueTwo]="6"
            description="Pornogrphy, Adult, Gamblig gibi istenmeyen domainleri içerir.">
          </rk-infobox>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <table class="rk-selectable-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Domain</th>
                <th>Category</th>
                <th>Count</th>
                <th colspan="2" style="width: 120px;">Percent</th>
              </tr>
            </thead>


            <tbody class="rk-selectable-table-body">
              <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1]; let index = index"
                [ngClass]="{'active': index === 2}">
                <td class="idx" style="width: 40px">{{ index + 1 }}</td>
                <td class="text">google.com</td>
                <td class="text">NX Domain</td>
                <td class="value">12.3K</td>
                <td>
                  <rk-progressbar-n [value]="76.2"></rk-progressbar-n>
                </td>
                <td class="percent" style="width:43px">%82</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr class="my-4" />

      <div class="row mt-5">
        <div class="col-12">

          <div class="rk-selectable-container">
            <table class="rk-selectable-table">
              <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1]; let index = index"
                [ngClass]="{'active': index === 2}">
                <td class="idx">{{ index + 1 }}</td>
                <td class="text">Arts and Culture</td>
                <td class="value">12.3K</td>
                <td class="percent">%82</td>
              </tr>
            </table>
          </div>

          <!-- <div class="rk-selectable-table">
            <div class="rk-item">
              <span class="idx"></span>
              
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75.432423432" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>
          </div> -->

        </div>
      </div>



      <div class="row">
        <div class="col-12">
          <div class="rk-base-card">

            <rk-table [config]="tableConfig"></rk-table>

          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-12 mt-3">
          <rk-checkbox size="sm" class="mr-2">Rk Checkbox</rk-checkbox>
          <rk-checkbox size="md" class="mr-2">Rk Checkbox</rk-checkbox>
          <rk-checkbox size="lg" class="mr-2">Rk Checkbox</rk-checkbox>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-4">
          <rk-autocomplete [onSelectClear]="true" (onSelect)="onSelect($event)" [items]="autocompleteItems">
          </rk-autocomplete>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <rk-select [options]="options" isSearchable="true" [isShowButton]="true" buttonText="Create New Profile"
            buttonIcon="plus"></rk-select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">

          <div class="btn-group" dropdown placement="bottom right">
            <button dropdownToggle type="button" class="btn btn-icon btn-link">
              <i-feather name="bell"></i-feather>
            </button>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right rk-list-dropdown-container" role="menu">
              <div class="rk-list">
                <div class="rk-list-header">
                  <div class="rk-list-header-title">Notifications <span class="length">(3)</span></div>
                </div>

                <div class="rk-list-body">
                  <div class="rk-list-item" *ngFor="let item of [1,1,1,1]">
                    <div class="text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>

                    <div class="arrow">
                      <i-feather name="chevron-right"></i-feather>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="mt-3">
          <button class="btn" (click)="addFilter()">ekle</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-3">
          <rk-filter-badge [name]="'test'" [equal]="true" [values]="filters"></rk-filter-badge>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 d-flex">
          <rk-color name="color-select" class="mr-2" [checked]="true" (colorChanged)="colorChanged($event)"></rk-color>
          <rk-color name="color-select" color="dark" (colorChanged)="colorChanged($event)"></rk-color>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div class="rk-basic-card">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, quam! Commodi animi nulla voluptates
            accusamus obcaecati, dicta eaque veniam id quisquam neque eos beatae magni quae exercitationem repellat,
            harum iusto?
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <rk-table-container [config]="tableConfig">
            <rk-table-export (event)="tableExportEvent($event)"></rk-table-export>

            <rk-table (selectedChange)="selectedChange($event)" [config]="tableConfig"
              (pageChange)="onPageChange($event)" [totalCount]="40" [pageViewCount]="10"
              (pageViewCountChange)="onPageViewCountChange($event)" [info]="true">
              <ng-template #header>
                <tr>
                  <th class="index">#</th>
                  <th scope="col">
                    Time
                    <button class="table-btn ripple">
                      <i-feather name="more-vertical"></i-feather>
                    </button>
                  </th>
                  <th scope="col">
                    Subdomain
                    <button class="table-btn ripple">
                      <i-feather name="more-vertical"></i-feather>
                    </button>
                  </th>
                  <th scope="col">
                    Src.Ip
                    <button class="table-btn ripple">
                      <i-feather name="more-vertical"></i-feather>
                    </button>
                  </th>
                  <th scope="col">
                    Dst.Ip
                    <button class="table-btn ripple">
                      <i-feather name="more-vertical"></i-feather>
                    </button>
                  </th>
                  <th scope="col">
                    Action
                    <button class="table-btn ripple">
                      <i-feather name="more-vertical"></i-feather>
                    </button>
                  </th>
                </tr>
              </ng-template>
              <ng-template #body>
                <tr *ngFor="let country of countries; index as i">
                  <td class="index">{{ i + 1 }}</td>
                  <td>2019.11.27 11:15:51</td>
                  <td>
                    bal-edf-pcs-app-vmss-02.westus.cloudapp.azure.com
                  </td>
                  <td>12.244.23.112</td>
                  <td>198.222.165.78</td>
                  <td>Allow</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div style="width: 220px">

            <div class="rk-category-container">
              <div class="category-header">
                <rk-checkbox class="checkbox" size="sm" className="m-0"></rk-checkbox>

                <span class="category-color"></span>

                <h6 class="category-title">Malicious</h6>
              </div>

              <div class="category-body">
                <div class="category-item" *ngFor="let item of [1,1,1,1]">
                  <rk-checkbox size="sm" alignment="right">test item</rk-checkbox>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>A1</th>
                <th>A2</th>
                <th>A3</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of [1,1,1,1,1]">
                <td>Val1</td>
                <td>Val2</td>
                <td>Val3</td>
              </tr>
            </tbody>
          </table>
        </div>



        <div class="col-12 mt-3">
          <div class="rk-search-container">
            <input type="text" class="rk-input">
            <i-feather name="search"></i-feather>
          </div>
        </div>

        <div class="col-12 mt-3">
          <rk-collapse color="#f95656">
            <rk-collapse-title>Malicious</rk-collapse-title>

            <rk-collapse-description>
              Newly Register, Newly Up, Domain Parking, Dead Sites gibi içerik ve güvenlik riski değişiklik
              gösterebilen domainleri içerir.
            </rk-collapse-description>

            <rk-collapse-body>
              <rk-toggle-button icon="alert-circle" class="d-flex">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
            </rk-collapse-body>
          </rk-collapse>
        </div>

        <div class="col-12 mt-3">
          <div class="rk-collapse active">
            <div class="rk-collapse-header">
              <div class="top">
                <span class="rk-collapse-header-color"></span>

                <h5 class="rk-collapse-header-title">Malicious</h5>

                <div class="rk-collapse-header-icon">
                  <i-feather name="chevron-down"></i-feather>
                </div>
              </div>

              <p class="rk-collapse-header-description">
                Newly Register, Newly Up, Domain Parking, Dead Sites gibi içerik ve güvenlik riski değişiklik
                gösterebilen domainleri içerir.
              </p>
            </div>

            <div class="rk-collapse-body">
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
              <rk-toggle-button icon="alert-circle" class="d-flex mt-2">Advertisement</rk-toggle-button>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <rk-toggle-button [toggleTexts]="{ pos: 'ON', neg: 'OFF' }"></rk-toggle-button>
          <rk-toggle-button icon="alert-circle" class="d-flex mt-2">dvertisement</rk-toggle-button>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-12" style="height: 500px;">
          <rk-accordion>
            <rk-accordion-panel *ngFor=" let item of listConfig.items; let i=index" [index]="i + 1">
              <div class="rk-accordion-title">
                Header {{ i }}
              </div>

              <div class="rk-accordion-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis error quidem earum. Earum optio
                veritatis, consequuntur quod sapiente totam repellendus voluptatum dolorum fuga, molestias distinctio
                rerum atque voluptas aspernatur iste.
              </div>
            </rk-accordion-panel>
          </rk-accordion>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-12">
          <rk-select [options]="__options"></rk-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <rk-select [options]="__options"></rk-select>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="rk-input-container">
            <span>
              <input type="text" placeholder="IP">
              /
            </span>
            <rk-select [options]="__options"></rk-select>
          </div>
        </div>
      </div>
    </div>

    <rk-modal #modal>
      <rk-modal-header icon="filter">
        <rk-modal-header-title>
          <h5>Filtrele</h5>
        </rk-modal-header-title>
        <rk-modal-header-close (click)="modal.toggle()"></rk-modal-header-close>
      </rk-modal-header>

      <rk-modal-body>

        <div class="px-3">

          <div class="rk-modal-card my-2" *ngFor="let item of [1,1,1]">
            <h6>Lorem Title</h6>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, mollitia quod enim distinctio iste,
              eum
              impedit officiis eos exercitationem reiciendis explicabo ipsam, veritatis neque maxime ad amet sunt quasi
              fugit.
            </p>
          </div>

        </div>

      </rk-modal-body>

      <rk-modal-footer>
        <button class="btn w-100 btn-default btn-small">Cancel</button>
        <button class="btn w-100 btn-small btn-fill">Apply</button>
      </rk-modal-footer>
    </rk-modal>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-12">
          <button class="btn" (click)="modal.toggle()">toggle</button>
        </div>
      </div>
    </div>

    <!-- <div class="rk-modal" #modal>
      <div class="rk-modal-header">
        <div class="rk-modal-header-icon">
          <i-feather name="filter"></i-feather>
        </div>

        <div class="rk-modal-header-title">
          <h5>Filtreler</h5>
        </div>

        <div class="rk-modal-header-close">
          <button>
            <i-feather name="x-circle"></i-feather>
          </button>
        </div>
      </div>

      <div class="rk-modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let index = index">Content
            {{index}}</li>
          <li class="list-group-item" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let index = index">Content
            {{index}}</li>
          <li class="list-group-item" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let index = index">Content
            {{index}}</li>
        </ul>
      </div>

      <div class="rk-modal-footer">
        <button class="btn w-100 btn-small mr-2">Apply</button>
        <button class="btn w-100 btn-default btn-small">Clean</button>
      </div>
    </div> -->

    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-12 col-md-6">

          <div class="rk-selectable-table">
            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75.432423432" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item active">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>

            <div class="rk-item">
              <div class="rk-i-header">
                <div class="d-flex align-items-center">
                  <span class="rk-selectable-table-item-title">Adult</span>
                  <span class="rk-selectable-badge">232</span>
                </div>
                <i-feather name="arrow-right"></i-feather>
              </div>

              <rk-progressbar [value]="75" [showType]="'outside'" [sizeType]="'small'">
              </rk-progressbar>
            </div>


          </div>

        </div>

        <div class="col-12 col-md-6">
          <div class="chart-info">
            <div class="section">
              <span class="section-title">Selected <br /> Time Hit</span>
              <span class="value">3100</span>
            </div>
            <div class="section active">
              <i-feather name="arrow-up"></i-feather>
              <span class="value">%20</span>
            </div>
            <div class="section">
              <div class="section-title">Avarage Hit</div>
              <span class="value">2001</span>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-12">
          <rk-badge>Text</rk-badge>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <rk-table (pageChange)="onPageChange($event)" (pageViewCountChange)="onPageViewCountChange($event)">
            <ng-template #header>
              <tr>
                <th class="index">#</th>
                <th scope="col">
                  Time
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
                <th scope="col">
                  Subdomain
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
                <th scope="col">
                  Src.Ip
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
                <th scope="col">
                  Dst.Ip
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
                <th scope="col">
                  Action
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
              </tr>
            </ng-template>
            <ng-template #body>
              <tr *ngFor="let country of countries; index as i">
                <td class="index">{{ i + 1 }}</td>
                <td>2019.11.27 11:15:51</td>
                <td>
                  bal-edf-pcs-app-vmss-02.westus.cloudapp.azure.com
                </td>
                <td>12.244.23.112</td>
                <td>198.222.165.78</td>
                <td>Allow</td>
              </tr>
            </ng-template>
          </rk-table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <rk-table (pageChange)="onPageChange($event)" (pageViewCountChange)="onPageViewCountChange($event)">
            <ng-template #header>
              <tr>
                <th>#</th>
                <th scope="col">
                  Country
                  <button class="table-btn ripple">
                    <i-feather name="more-vertical"></i-feather>
                  </button>
                </th>
                <th scope="col">
                  Area
                </th>
                <th scope="col">
                  Population
                </th>
              </tr>
            </ng-template>
            <ng-template #body>
              <tr *ngFor="let country of countries; index as i">
                <td>{{ i + 1 }}</td>
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                    style="width: 20px">
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
              </tr>
            </ng-template>
          </rk-table>
        </div>
      </div>




      <div class="row">
        <div class="col-6">
          <div class="rk-base-card">
            <div class="card-item">
              <div class="rk-grow rk-v-center rk-title-1 ">
                Public IP
              </div>
              <div class="rk-row">
                <div class="rk-data-row active">
                  <span class="name">Active</span>
                  <span class="value">8</span>
                </div>

                <div class="rk-data-row   m-l-15">
                  <span class="name">Passive</span>
                  <span class="value">2</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="rk-col">
          <div class="rk-base-card" style="padding:0;">
            <div class="card-item">
              <div class="rk-panel">
                <div class="rk-panel-header rk-title-2">
                  Traffic Based Anomaly
                </div>
                <div class="rk-panel-item" style="background-color: white;">
                  Test
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <rk-radio name="ss" checked="true">Option 1</rk-radio>
            <rk-radio name="ss" disabled="true">Option 2</rk-radio>
            <rk-radio name="ss">Option 3</rk-radio>
            <div class="rk-radio-for-table">
              <rk-radio name="ss">Option 4</rk-radio>
            </div>
          </div>
        </div>

        {{chk}}





        {{auto}}

        <div class="row mt-2">
          <div class="col-4">
            <rk-select [(value)]="ss" [options]="options"></rk-select>
          </div>
        </div>

        {{ss}}

        <div class="row">
          <div class="col-6">
            <rk-select [options]="options"></rk-select>
          </div>
          <div class="col-6">
            <rk-select class="d-block" icon="calendar" [options]="options"></rk-select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <button class="btn">Text</button>
            <button class="btn btn-default ml-2">Text</button>
            <button class="btn btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>

          </div>
          <div class="col-12 mt-2">
            <button disabled class="btn">Text</button>
            <button disabled class="btn btn-default ml-2">Text</button>
            <button disabled class="btn btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>

          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-link">Text</button>
            <button class="btn btn-link btn-default ml-2">Text</button>
            <button class="btn btn-link btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>

          </div>
          <div class="col-12 mt-2">
            <button disabled class="btn btn-link">Text</button>
            <button disabled class="btn btn-link btn-default ml-2">Text</button>
            <button disabled class="btn btn-link btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>

          <div class="col-12 mt-2">
            <button class="btn btn-xl">Text</button>
            <button class="btn btn-xl btn-default ml-2">Text</button>
            <button class="btn btn-xl btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-large">Text</button>
            <button class="btn btn-large btn-default ml-2">Text</button>
            <button class="btn btn-large btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-medium">Text</button>
            <button class="btn btn-medium btn-default ml-2">Text</button>
            <button class="btn btn-medium btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-small">Text</button>
            <button class="btn btn-small btn-default ml-2">Text</button>
            <button class="btn btn-small btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-xs">Text</button>
            <button class="btn btn-xs btn-default ml-2">Text</button>
            <button class="btn btn-xs btn-icon ml-2">
              <i-feather name="shopping-cart"></i-feather>
              Text
            </button>
          </div>

          <div class="col-12 my-3">
            <ng-template>zz</ng-template>

          </div>

          <div class="col-12 text-center">text center</div>

          <div class="col-12 text-center">
            <input type="text" class="rk-input mr-3" placeholder="Search">
            <input type="text" class="rk-input mr-3" placeholder="Search" required>
            <input type="text" disabled class="rk-input mr-3" placeholder="Search">

            <textarea class="rk-input textarea" rows="5" style="resize: none;"></textarea>
          </div>

          <div class="col-12 mt-2">
            <div class="rk-wizard">
              <div class="rk-wizard-item active">
                <div class="step-name">1. Step</div>
                <div class="step-text">Text Label</div>
              </div>
              <div class="rk-wizard-item">
                <div class="step-name">1. Step</div>
                <div class="step-text">Text Label</div>
              </div>
              <div class="rk-wizard-item">
                <div class="step-name">1. Step</div>
                <div class="step-text">Text Label</div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2">
            <button class="badge mr-2">Domain</button>
            <button class="badge active">Domain</button>
          </div>

          <div class="col-12 mt-2">
            <div class="rk-radio">
              <input type="radio" id="rd" name="rdName" checked>
              <label for="rd">Option 1</label>
            </div>
            <div class="rk-radio">
              <input type="radio" id="rd1" name="rdName" disabled>
              <label for="rd1">Option 2</label>
            </div>
            <div class="rk-radio">
              <input type="radio" id="rd2" name="rdName">
              <label for="rd2">Option 2</label>
            </div>
          </div>

          <div class="col-12 mt-2">

            <!-- <rk-filter-badge [name]="'Domain'" [equal]="true" [values]="['google.com','yahoo.com']"></rk-filter-badge>
            <rk-filter-badge [name]="'Domain'" [equal]="false" [values]="['google.com','yahoo.com']"></rk-filter-badge> -->
          </div>

          <div class="col-6 mt-2">
            <div class="menu" style="width: 200px;">
              <button class="menu-item active">
                <div class="icon">
                  <i-feather name="home"></i-feather>
                </div>
                <div class="text">
                  Text
                </div>
                <div class="icon arrow">
                  <i-feather name="chevron-down"></i-feather>
                </div>
              </button>
              <button class="menu-item">
                <div class="icon">
                  <i-feather name="home"></i-feather>
                </div>
                <div class="text">
                  Text
                </div>
                <div class="icon arrow">
                  <i-feather name="chevron-down" class="text-blue-grey"></i-feather>
                </div>
              </button>
              <button class="menu-item">
                <div class="icon">
                  <i-feather name="home"></i-feather>
                </div>
                <div class="text">
                  Text
                </div>
              </button>
            </div>
          </div>

          <div class="col-3 mt-2">
            <rk-menu-container>
              <rk-menu-item text="Anasayfa" icon="home"></rk-menu-item>
              <rk-menu-item text="Anasayfa" icon="edit"></rk-menu-item>
            </rk-menu-container>
          </div>



        </div>

        <div class="row mt-3">
          <div class="col-6">
            <rk-list [config]="listConfig"></rk-list>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-6">
            <rk-progressbar [value]="65.22342342" [showType]="'outside'" [type]="'warning'" [sizeType]="'medium'">
            </rk-progressbar>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <rk-card [config]="cardConfig"></rk-card>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-6">
            <rk-accordion>
              <rk-accordion-panel *ngFor="let item of listConfig.items; let i = index" [index]="i + 1">
                <div class="rk-accordion-title">
                  Header {{ i }}
                </div>

                <div class="rk-accordion-body">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis error quidem earum. Earum optio
                  veritatis, consequuntur quod sapiente totam repellendus voluptatum dolorum fuga, molestias distinctio
                  rerum atque voluptas aspernatur iste.
                </div>
              </rk-accordion-panel>
            </rk-accordion>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>