<div class="container-fluid mt-2" style="padding-bottom: 50px;">
  <div class="row">
    <!-- <div class="col-6">
      <rk-select [(ngModel)]="name" [options]="options"></rk-select>
    </div>
    <div class="col-6">
      <rk-select class="d-block" [(ngModel)]="name1" icon="calendar" [options]="options"></rk-select>
    </div> -->
  </div>

  <div class="row">
    <div class="col-12">

      <ng-select2 [data]="options" [options]="{width: 300}"></ng-select2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <button class="btn">Text</button>
      <button class="btn btn-default ml-2">Text</button>
      <button class="btn btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>

    </div>
    <div class="col-12 mt-2">
      <button disabled class="btn">Text</button>
      <button disabled class="btn btn-default ml-2">Text</button>
      <button disabled class="btn btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>

    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-link">Text</button>
      <button class="btn btn-link btn-default ml-2">Text</button>
      <button class="btn btn-link btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>

    </div>
    <div class="col-12 mt-2">
      <button disabled class="btn btn-link">Text</button>
      <button disabled class="btn btn-link btn-default ml-2">Text</button>
      <button disabled class="btn btn-link btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-xl">Text</button>
      <button class="btn btn-xl btn-default ml-2">Text</button>
      <button class="btn btn-xl btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-large">Text</button>
      <button class="btn btn-large btn-default ml-2">Text</button>
      <button class="btn btn-large btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-medium">Text</button>
      <button class="btn btn-medium btn-default ml-2">Text</button>
      <button class="btn btn-medium btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-small">Text</button>
      <button class="btn btn-small btn-default ml-2">Text</button>
      <button class="btn btn-small btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-xs">Text</button>
      <button class="btn btn-xs btn-default ml-2">Text</button>
      <button class="btn btn-xs btn-icon ml-2">
        <i-feather name="shopping-cart"></i-feather>
        Text
      </button>
    </div>

    <div class="col-12 my-3">
      <ng-template>zz</ng-template>

    </div>

    <div class="col-12 text-center">text center</div>

    <div class="col-12 text-center">
      <input type="text" class="rk-input mr-3" placeholder="Search">
      <input type="text" class="rk-input mr-3" placeholder="Search" required>
      <input type="text" disabled class="rk-input mr-3" placeholder="Search">

      <textarea class="rk-input textarea" rows="5" style="resize: none;"></textarea>
    </div>

    <div class="col-3 mt-2">
      <div class="rk-wizard">
        <div class="rk-wizard-item active">
          <div class="step-name">1. Step</div>
          <div class="step-text">Text Label</div>
        </div>
        <div class="rk-wizard-item">
          <div class="step-name">1. Step</div>
          <div class="step-text">Text Label</div>
        </div>
        <div class="rk-wizard-item">
          <div class="step-name">1. Step</div>
          <div class="step-text">Text Label</div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-2">
      <button class="badge mr-2">Domain</button>
      <button class="badge active">Domain</button>
    </div>

    <div class="col-12 mt-2">
      <label for="chk" class="rk-chk-label">
        <div class="rk-form-switch">
          <input type="checkbox" id="chk" checked>
          <i></i>
          <span></span>
        </div>
      </label>
    </div>

    <div class="col-12 mt-2">
      <div class="rk-radio">
        <input type="radio" id="rd" name="rdName" checked>
        <label for="rd">Option 1</label>
      </div>
      <div class="rk-radio">
        <input type="radio" id="rd1" name="rdName" disabled>
        <label for="rd1">Option 2</label>
      </div>
      <div class="rk-radio">
        <input type="radio" id="rd2" name="rdName">
        <label for="rd2">Option 2</label>
      </div>
    </div>

    <div class="col-12 mt-2">
      <div class="rk-filter-badge primary mb-2">
        <div class="unhover">
          <div class="filter-name">Action</div>

          <div class="equals">
            <icon-equal></icon-equal>
          </div>

          <div class="values">
            google.com<span class="seperator"></span>yahoo.com
          </div>
        </div>

        <div class="hover">
          <button class="ripple">
            <i-feather name="edit-3"></i-feather>
          </button>
          <button class="ripple equal">
            <icon-not-equal></icon-not-equal>
          </button>
          <button class="ripple">
            <i-feather name="trash-2"></i-feather>
          </button>
        </div>
      </div>
      <div class="rk-filter-badge security">
        <div class="unhover">
          <div class="filter-name">Action</div>

          <div class="equals">
            <icon-not-equal></icon-not-equal>
          </div>

          <div class="values">
            google.com
            <span class="seperator"></span>yahoo.com
            <span class="seperator"></span>yahoo.com
          </div>
        </div>

        <div class="hover">
          <button class="ripple">
            <i-feather name="edit-3"></i-feather>
          </button>
          <button class="ripple equal">
            <icon-equal></icon-equal>
          </button>
          <button class="ripple">
            <i-feather name="trash-2"></i-feather>
          </button>
        </div>
      </div>
    </div>

    <div class="col-6 mt-2">
      <div class="menu" style="width: 200px;">
        <button class="menu-item active">
          <div class="icon">
            <i-feather name="home"></i-feather>
          </div>
          <div class="text">
            Text
          </div>
          <div class="icon arrow">
            <i-feather name="chevron-down"></i-feather>
          </div>
        </button>
        <button class="menu-item">
          <div class="icon">
            <i-feather name="home"></i-feather>
          </div>
          <div class="text">
            Text
          </div>
          <div class="icon arrow">
            <i-feather name="chevron-down" class="text-blue-grey"></i-feather>
          </div>
        </button>
        <button class="menu-item">
          <div class="icon">
            <i-feather name="home"></i-feather>
          </div>
          <div class="text">
            Text
          </div>
        </button>
      </div>
    </div>

    <div class="col-3 mt-2">
      <rk-menu-container>
        <rk-menu-item text="Anasayfa" icon="home"></rk-menu-item>
        <rk-menu-item text="Anasayfa" icon="edit"></rk-menu-item>
      </rk-menu-container>
    </div>



  </div>

  <div class="row mt-3">
    <div class="col-6">
      <rk-table [hTemp]="header" [bTemp]="body" (pageChange)="onPageChange($event)"
        (pageViewCountChange)="onPageViewCountChange($event)">
        <ng-template #header>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Area</th>
            <th scope="col">Population</th>
          </tr>
        </ng-template>
        <ng-template #body>
          <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                style="width: 20px">
              {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
          </tr>
        </ng-template>
      </rk-table>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-6">
      <rk-list [config]="listConfig" ></rk-list>
    </div>
  </div>

  
  <div class="row mt-3">
    <div class="col-3">
      <rk-card [config]="cardConfig" ></rk-card>
    </div>
  </div>
</div>